.map{
    background-image: url("../img/zappos_level_01_lbl.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 738px;
    width: auto;
    border: solid black;


}


.circle{
    position: absolute;
    height:15px;
    width:15px;
    border: solid black;
    border-radius: 45px;
    background:yellow;
}


